/*
COLOR PALETTE

BLACK: #000000

WHITE: #FFFFFF
LIGHT: #FDF7F4

ORANGE: #FFD18C
DARK ORANGE: #FFA724
*/


html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.logo {
    width: 300px;
}

header {
    display: flex;
    justify-content: center;
    padding: 40px;
}

nav {
    background-color: #FFD18C;
    width: 100%;
}

ul {
    width: 50%;
    margin: auto;
    width: 50%;
    margin: auto;
    display: flex;
    list-style-type: none;
    padding: 10px;
    justify-content: space-around;
    gap: 20px;
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.btns-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
}

button {
    font-size: 30px;
    font-weight: 700;
    border-radius: 50px;
    background-color: white;
    border: 5px solid #FEA22C;
    width: 270px;
    padding: 10px 0;
}

button:hover {
    background-color: #FEA22C;
    border: 5px solid #FEA22C;
    cursor: pointer;
}

.img-container {
    border: 2px solid red;
}

img {
    display: inline;
}

.text {
    border: 2px solid red;
}

.accounts-container {
    width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.account {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border: 5px solid #FFA724;
    border-radius: 15px;
}

.account:hover {
    background-color: #FFD18C;
    cursor: pointer;
}
